<nav class="navbar navbar-expand-lg">
	<div class="container-fluid">
		<div class="col-md-3 mb-2 mb-md-0">
			<a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
				<img src="{{ asset('assets/images/logo.jpg') }}" alt="logo Team2i">
			</a>
		</div>

		<div class="container" id="navbarColor01">
			<ul class="justify-content-center navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link active" href="{{ path('app_home') }}">Accueil
						<span class="visually-hidden">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_mission') }}">NOS MISSIONS
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_about') }}">A PROPOS DE NOUS
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_mentions') }}">Mentions légales
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_home') }}">Contact
					</a>
				</li>
				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('mes_mission') }}">Mes missions
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('mission.new') }}">Créér une mission
						</a>
					</li>
				{% endif %}
			</ul>
		</div>

		<div class="d-flex">
			<ul class="navbar-nav me-auto">
				{% if app.user %}
					<li class="nav-item dropdown" style="margin-right: 5rem;">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.nom }}</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="{{ path('user.edit', {id : app.user.id}) }}">Modifier mes informations</a>
							<a class="dropdown-item" href="{{ path('user.edit.password', {id : app.user.id}) }}">Changer mot de passe</a>
							<div class="dropdown-divider"></div>
							{% if 'ROLE_ADMIN' in app.user.roles %}
								<a class="dropdown-item" href="{{ path('app_home') }}">Administration</a>
								<div class="dropdown-divider"></div>
							{% endif %}
							<a class="dropdown-item" href="{{ path('security.logout') }}">Déconnexion</a>
						</div>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('security.login') }}">Connexion
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('security.registration') }}">Inscription
						</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
