{% extends 'base.html.twig' %}

{% block title "Mes informations" %} 

{% block body %}
	<div class="container">
		<h1 class="mt-4"> Mes informations </h1>

		{{ form_errors(form) }}

		{{ form_start(form) }}

			<div class="row">
				<div class="col-md-6">
					<div class="form-group  mt-4">
						{{ form_label(form.nom) }}
						{{ form_widget(form.nom) }}
						<div class="form-error">
							{{ form_errors(form.nom) }}
						</div>
					</div>

					<div class="form-group  mt-4">
						{{ form_label(form.adresse) }}
						{{ form_widget(form.adresse) }}
						<div class="form-error">
							{{ form_errors(form.adresse) }}
						</div>
					</div>

					<div class="form-group mt-4">
						{{ form_label(form.cp) }}
						{{ form_widget(form.cp) }}
						<div class="form-error">
							{{ form_errors(form.cp) }}
						</div>
					</div>

					<div class="form-group mt-4">
						{{ form_label(form.ville) }}
						{{ form_widget(form.ville) }}
						<div class="form-error">
							{{ form_errors(form.ville) }}
						</div>
					</div>

					<div class="form-group mt-4">
						{{ form_label(form.phone) }}
						{{ form_widget(form.phone) }}
						<div class="form-error">
							{{ form_errors(form.phone) }}
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group mt-4">
						{{ form_label(form.siret) }}
						{{ form_widget(form.siret) }}
						<div class="form-error">
							{{ form_errors(form.siret) }}
						</div>
					</div>

					<div class="form-group mt-4">
						{{ form_label(form.tjm) }}
						{{ form_widget(form.tjm) }}
						<div class="form-error">
							{{ form_errors(form.tjm) }}
						</div>
					</div>

					<div class="form-group mt-4">
						{{ form_label(form.cvFile) }}
						{{ form_widget(form.cvFile) }}
						<div class="form-error">
							{{ form_errors(form.cvFile) }}
						</div>
					</div>

					<div class="form-group form-check mt-4">
						{{ form_label(form.dispo) }}
						{{ form_widget(form.dispo) }}
						<div class="form-error">
							{{ form_errors(form.dispo) }}
						</div>
					</div>

					<div class="form-group form-check">
						{{ form_label(form.isNewsletter) }}
						{{ form_widget(form.isNewsletter) }}
						<div class="form-error">
							{{ form_errors(form.isNewsletter) }}
						</div>
					</div>

					<div class="form-group mt-4">
						<button class="btn btn-lg btn-primary" type="submit">
							Modifier
						</button>
					</div>
				</div>
			</div>

		{{ form_end(form) }}
	</div>
{% endblock %}
